.galleria-info {
  text-align: left;
  text-transform:none;
  .galleria_message{
    color:red;
    display:none;
    font-style: italic;
    margin-bottom:0.5em;
  }
}
.galleria-exit{
  position:absolute;
  top:12px;
  right:12px;
  z-index:10;
  font-size:1.5em;
  cursor:pointer;
}
#picasa-locations{
  #map_canvas {
    max-width:100%;
    height:450px;
  }
  #sort{
    padding:0.5em;
    text-align:center;
  }
  .sort{
    padding-left:0.9em;
    &[data-sort-active="true"]{
      font-weight:bold;
      &:after{
        content: '\25B2';
        display: inline-block;
        margin-right: 2px;
      }
      &[data-sort-descending="true"]:after{
        content: '\25BC';
        display: inline-block;
        margin-right: 2px;
      }
    }
  }
  
  .picasa-locations-list {
    text-transform: lowercase;
    font-size: 0.75em;
    text-align: center;
    ul {
      list-style: none;
      column-width: 150px;
      column-count: auto;
      column-gap: 50%;
      column-rule-width: 1px;
      column-rule-style: dotted;
      column-rule-color: black;
    }
    li {
      padding-left: 0.5em;
    }
  }
}